
@font-face {
    font-family:"Chivo Bold";
    src:url("Chivo-Bold.woff2") format("woff2"),url("Chivo-Bold.woff") format("woff"),url("Chivo-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        