
@font-face {
    font-family:"Chivo Regular";
    src:url("Chivo-Regular.woff2") format("woff2"),url("Chivo-Regular.woff") format("woff"),url("Chivo-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        