
@font-face {
    font-family:"Chivo Light";
    src:url("Chivo-Light.woff2") format("woff2"),url("Chivo-Light.woff") format("woff"),url("Chivo-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        