
@font-face {
    font-family:"Asul Regular";
    src:url("Asul-Regular.woff2") format("woff2"),url("Asul-Regular.woff") format("woff"),url("Asul-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        