.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@screen xl {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.col {
  flex: none;
  padding-left: 20px;
  padding-right: 20px;
}
