@font-face {
  font-family: 'Chivo';
  font-weight: 300;
  src: url('../fonts/Chivo/Chivo-Light.woff2') format('woff2'), url('../fonts/Chivo/Chivo-Light.woff') format('woff');
}

@font-face {
  font-family: 'Chivo';
  font-weight: 400;
  src: url('../fonts/Chivo/Chivo-Regular.woff2') format('woff2'), url('../fonts/Chivo/Chivo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Chivo';
  font-weight: 700;
  src: url('../fonts/Chivo/Chivo-Bold.woff2') format('woff2'), url('../fonts/Chivo/Chivo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Asul';
  font-weight: 400;
  src: url('../fonts/Asul/Asul-Regular.woff2') format('woff2'), url('../fonts/Asul/Asul-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Asul';
  font-weight: 700;
  src: url('../fonts/Asul/Asul-Bold.woff2') format('woff2'), url('../fonts/Asul/Asul-Bold.woff') format('woff');
}

@responsive {
  .alpha {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 62px;
    line-height: 0.9;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
  }

  @screen sm {
    .alpha {
      font-size: 85px;
      -webkit-text-stroke: 4px #ffffff;
    }
  }

  @screen md {
    .alpha {
      font-size: 140px;
      -webkit-text-stroke: 4px #ffffff;
    }
  }

  @screen xl {
    .alpha {
      font-size: 170px;
    }
  }

  .robinson {
    font-size: 0.75em;
  }

  @screen sm {
    .robinson {
      font-size: 1em;
    }
  }

  .bravo {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.35px;
  }

  @screen md {
    .bravo {
      -webkit-text-stroke: 2px #ffffff;
      font-size: 70px;
    }
  }

  @screen xl {
    .bravo {
      font-size: 96px;
    }
  }

  .charlie {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
    letter-spacing: 0;
  }

  @screen md {
    .charlie {
      font-size: 32px;
    }
  }

  @screen xl {
    .charlie {
      font-size: 36px;
    }
  }

  .paragraph-lg {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.1px;
  }

  @screen md {
    .paragraph-lg {
      font-size: 26px;
    }
  }

  .paragraph {
    font-family: 'Asul', times, serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  @screen sm {
    .paragraph {
      font-size: 16px;
    }
  }

  @screen md {
    .paragraph {
      font-size: 18px;
    }
  }

  .button {
    font-family: 'Asul', times, serif;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    position: relative;
    transition: color 0.3s;
  }

  @screen md {
    .button {
      font-size: 18px;
    }
  }
}
